<div class="mission_header">
    <div class="pin"><img src="src/static/images/pin.png"></div>
    <div class="minimize">-</div>
    <h1>Your Mission</h1>
</div>
<div class="mission_content">
    <h3>Find this famous place:</h3>
    <div class="mission_image">
        <img src="{{thumbnail}}" width="360" height="240">
    </div>
</div>
<label for="csekboksz" class="mission_footer">
    <span class="place_name">{{name}}</span>
</label>
<input type="checkbox" id="csekboksz">
<div class="mission_more_text">
    <span class="more_text">{{description}}</span>
    <a href="{{url}}" target="_blank">Read more ></a>
</div>