<div id="overlay">
    <div class="mission_success">
        <div class="mission_success_content">
            <div class="overlay_header">
                <h1>Congratulations! - Mission completed</h1>
            </div>
            <div class="overlay_content">
                <img src="{{thumbnail}}" width="360" height="240" align="left">
                <span class="title">{{name}}</span>
                        <span class="description">{{description}}</span>
            </div>
            <div class="overlay_footer">
                <span class="next_mission_btn">Click here for the next mission</span>
            </div>
        </div>
    </div>
</div>
