/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*css reset end*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 14px;
}

a {
    text-decoration: none;
    color:#ed2939;
}
    a:hover {
        color:#00a1de;
    }
img {
    display: block;
}
#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url(../images/loader.gif) center center no-repeat transparent;
}

#distance {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 320px;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0 0 30px #525252;
    z-index: 10;
    text-align: center;
}
#distance span {
    display: inline-block;
}
.red {
    color:#ed2939;
}
.green {
    color:#198319;
}
#menu {
        position: absolute;
        top:0;
        left:0;
        z-index: 10;
        width: 100%;
        height: 50px;
        background-color: #000;
        box-shadow: 0 0 80px #000;
        -webkit-box-shadow: 0 0 80px #000;
        -moz-box-shadow: 0 0 80px #000;
    }
        #menu ul {
            display: inline-block;
            height: 50px;
            padding: 0 20px;
        }
            #menu ul li {
                display: inline-block;
                height: 50px;
                vertical-align: middle;
            }
            #menu ul li.logo {
                margin: 5px 50px 0 0;
            }
                #menu li span {
                    cursor:pointer;
                    display: inline-block;
                    padding: 18px 0 0 0;
                    vertical-align: middle;
                    text-transform: uppercase;
                }
                #menu li span:hover {
                    color: #00a1de;
                }
        .slogan {
            float: right;
            font-size: 20px;
            color: #fff;
            font-style: italic;
            display: inline-block;
            margin: 15px 20px 0 0;
        }

/*mission block start*/
@-moz-keyframes slide-in { 0% {top:0; right:0} 100% { top:20vh; right:10vw } }
@-webkit-keyframes slide-in { 0% {top:0; right:0} 100% { top:20vh; right:10vw } }
@keyframes slide-in { 0% {top:0; right:0} 100% { top:20vh; right:10vw } }

@-moz-keyframes minimizing { 0% {top:20vh; right:10vw} 100% { top:50px; right:0 } }
@-webkit-keyframes minimizing { 0% {top:20vh; right:10vw} 100% { top:50px; right:0 } }
@keyframes minimizing { 0% {top:20vh; right:10vw} 100% { top:50px; right:0 } }

@-moz-keyframes fall { 0% {top:20vh} 100% { top:120vh} }
@-webkit-keyframes fall { 0% {top:20vh} 100% { top:120vh} }
@keyframes fall { 0% {top:20vh} 100% { top:120vh} }

@-moz-keyframes fade-in { 0% { -moz-opacity: 0; } 100% { -moz-opacity: 1; } }
@-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }

#mission_block {
    position: absolute;
    top:20vh;
    right: 10vw;
    z-index: 6;
    width: 360px;
    box-shadow: 0 0 20px #5a5a5a;
    -webkit-box-shadow: 0 0 20px #5a5a5a;
    -moz-box-shadow: 0 0 20px #5a5a5a;
    -webkit-animation: slide-in 1s forwards ease-in-out;
    -moz-animation: slide-in 1s forwards ease-in-out;
    animation: slide-in 1s forwards ease-in-out;
    transition: all 1s;
}
#mission_block.fall {
    -webkit-animation: fall 1s forwards ease-in-out;
    -moz-animation: fall 1s forwards ease-in-out;
    animation: fall 1s forwards ease-in-out;
}
    .minimize {
        position: absolute;
        top: 2px;
        right: 10px;
        font-size: 45px;
        color: #fff;
        cursor: pointer;
    }
    .mission_header {
        position: relative;
        width:100%;
        height: 50px;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        background-color: #ed2939;
    }
    .mission_header h1 {
        display: inline-block;
        margin: 15px 0 0 0;
        padding: 0;
    }
    .pin {
        position: absolute;
        opacity: 0;
        width:66px;
        height: 57px;
        top: -20px;
        left: 140px;
        -webkit-animation: fade-in 1s forwards ease-in-out;
        -moz-animation: fade-in 1s forwards ease-in-out;
        animation: fade-in 1s forwards ease-in-out;
        animation-delay: 1s;
        -moz-animation-delay: 1s;
        -webkit-animation-delay: 1s;
    }
    .mission_content {
        background: rgba(255,255,255,.8) url(../images/lion_small.png) center 20px no-repeat;
    }
        .mission_content h3 {
            display: block;
            padding: 20px 0 10px 0;
            color:#000;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
        .mission_content .mission_image,
        .mission_content .mission_image img {
            width: 360px;
            height: 240px;
            transition: all 1s;
        }
    .mission_footer {
        width:100%;
        cursor: pointer;
        background-color: #00a1de;
        text-align: center;
		display: block;
    }
	#csekboksz {display: none}
	#csekboksz:checked + div.mission_more_text { display: block}
        .place_name {
            display: inline-block;
            padding: 15px 0 15px 0;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
        }
        .mission_footer .show_more {
            display: inline-block;
            margin-left: 10px;
            width: 17px;
            height: 9px;
            background: url(../images/arrow_up.png) 0 0 no-repeat transparent;
        }
            @-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
            @keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }

            .rotate_down {
                -webkit-animation: spin 1s forwards ease-in-out;
                -moz-animation: spin 1s forwards ease-in-out;
                animation: spin 1s forwards ease-in-out;
            }

            .rotate_up {
                -webkit-animation: spin 1s forwards reverse;
                -moz-animation: spin 1s  forwards reverse;
                animation: spin 1s forwards reverse;
            }
    .mission_more_text {
        max-height: 150px;
        padding: 10px;
        background-color: rgba(255,255,255,.8);
        font-size: 14px;
        color:#000;
        line-height: 20px;
        text-align: justify;
        overflow: hidden;
		display: none;
    }
    .more_text {
        overflow: hidden;
        text-overflow: ellipsis;
    }
#mission_block.minimized .mission_header,
#mission_block.minimized .mission_footer,
#mission_block.minimized .mission_content h3 {
    display:none;
}
#mission_block.minimized {
	cursor: pointer;
    width: 180px;
    height: 120px;
    border: 1px solid #ccc;
    transition: all 1s;
    -webkit-animation: minimizing 0.5s forwards ease-in-out;
    -moz-animation: minimizing 0.5s forwards ease-in-out;
    animation: minimizing 0.5s forwards ease-in-out;

}
#mission_block.minimized .mission_content .mission_image,
#mission_block.minimized .mission_content .mission_image img {
    width: 180px;
    height: 120px;
    transition: all 1s;
}
/*mission block end*/

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    -moz-box-shadow:    inset 0 0 80px #000000;
    -webkit-box-shadow: inset 0 0 80px #000000;
    box-shadow:         inset 0 0 80px #000000;
}
#far_away {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 30px #525252;
    z-index: 10;
}

/*overlays start*/
.hidden {
    display: none;
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.6);
}
@-moz-keyframes pulse { 0% { -moz-opacity: 0.9; } 50% { -moz-opacity: 0.6; } 100% { -moz-opacity: 0.9; } }
@-webkit-keyframes pulse { 0% { opacity: 0.9; } 50% { opacity: 0.6; } 100% { opacity: 0.9; } }
@keyframes pulse { 0% { opacity: 0.9; } 50% { opacity: 0.6; } 100% { opacity: 0.9; } }
#overlay.border {
    -webkit-animation: pulse 2s infinite ease-in-out;
    -moz-animation: pulse 2s  infinite ease-in-out;
    animation: pulse 2s infinite ease-in-out;
}
#overlay.border h1 {
    font-size: 60px;
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
}
#overlay.border h1:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.mission_success_content {
    position: absolute;
    height: 500px;
    width: 900px;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 15;
}
.overlay_header {
    width:100%;
    height: 50px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    background-color: #ed2939;
}
    .overlay_header h1 {
        display: inline-block;
        margin: 15px 0 0 20px;
        padding: 0;
    }
.overlay_content {
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(255,255,255,.8) url(../images/lion_small.png) center 280px no-repeat fixed;
    padding: 20px;
}
    .overlay_content img {
        display: inline-block;
        width: 360px;
        height: 240px;
        border: 1px solid #ccc;
        margin: 0 10px 10px 0;
    }
.title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    display: block;
    margin-bottom: 15px;
}
.description {
    color: #000;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
}
.overlay_footer {
    width:100%;
    height: 50px;
    cursor: pointer;
    background-color: #00a1de;
    text-align: center;
}
.overlay_footer span {
    display: inline-block;
    padding-top: 15px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.gm-iv-address {
	display: none!important;
}
/*overlays end*/
